body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}

.main-container{
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tampilan-jam {
    font-size: 3rem;
    margin: 0;
    coloR: #333;
}

.tampilan-stopwatch {
    font-size: 3rem;
    margin: 0;
    coloR: #333;
}

.button-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: brown;
    color: white;
    font-weight: bold;
    transition: background 0.2s; /* Biar ada efek halus saat ditekan */
}

.btn:hover {
    background-color: #5c1d1d; 
}